<script>
    $(document).ready(function() {
        $('#btnConvert').click(function(){
            $.ajax({
                url: "/",
                type: "post",
                data: $('#formBootstrap').serializeObject(),
                success: function (data) {
                    if (typeof data.error!="undefined") {
                        alert(data.error);
                    } else {
                        $('#target').val(data.result);
                        //$('#formBootstrap').html(data.result);
                    }
                },
                error: function (e) {
                    console.log('error:'+e);
                }
            });
        });
    });
    
    $.fn.serializeObject = function()
    {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
    };
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h1>Upgrade to Bootstrap 3</h1> 
        </div>
        <div class="col-lg-3">
          <div class="well"> 
          --
          </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
          <div class="well"> 
          
          <strong>Bootstrap 3 is a major overhaul, and there are a lot of changes from Bootstrap 2.x.</strong> This conversion tool is intended to help Bootstrap developers transition to 3.
          
          <hr>
          
          <p>This upgrade tool replaces the Bootstrap 2.x CSS class names with Bootstrap 3.0 class names. Additionally, this tool converts navbar, modal, carousel, images and other components in accordance with the Bootstrap 3.0 docs and migration guide.</p>
          
          <br>
          
          <p>
          Also see the complete <a href="http://bootply.com/bootstrap-3-migration-guide">Migration Guide</a>
          </p>
          
          <table class="table">
            <tbody><tr><td><a href="#">Bootstrap 2.x</a></td><td><a href="#">Bootstrap 3.0</a></td></tr>
            <tr><td>.container-fluid</td><td>.container</td></tr>
            <tr><td>.row-fluid</td><td>.row</td></tr>
            <tr><td>.span*</td><td>.col-lg-*</td></tr>
            <tr><td>.offset*</td><td>.col-offset-*</td></tr>
            <tr><td>.brand</td><td>.navbar-brand</td></tr>
            <tr><td>.navbar .nav</td><td>.nav .navbar-nav</td></tr>
            <tr><td>.hero-unit</td><td>.jumbotron</td></tr>
            <tr><td>.icon-*</td><td>.glyphicon .glyphicon-*</td></tr>
            <tr><td>.btn</td><td>.btn .btn-default</td></tr>
            <tr><td>.btn-mini</td><td>.btn-small</td></tr>
            <tr><td>.visible-phone</td><td>.visible-sm</td></tr>
            <tr><td>.visible-tablet</td><td>.visible-md</td></tr>
            <tr><td>.visible-desktop</td><td>.visible-lg</td></tr>
            <tr><td>.hidden-phone</td><td>.hidden-sm</td></tr>
            <tr><td>.hidden-tablet</td><td>.hidden-md</td></tr>
            <tr><td>.hidden-desktop</td><td>.hidden-lg</td></tr>
            <tr><td>.input-prepend</td><td>.input-group</td></tr>
            <tr><td>.input-append</td><td>.input-group</td></tr>
            <tr><td>.add-on</td><td>.input-group-addon</td></tr>
            <tr><td>.btn-navbar</td><td>.navbar-btn</td></tr>
            <tr><td>.thumbnail</td><td>.img-thumbnail</td></tr>
            </tbody></table>

          </div>
        </div>
        <div class="col-lg-8">
          <form action="/" method="POST" class="form-horizontal" id="formBootstrap">
            <h3>Bootstrap 2.x</h3> 
            <textarea id="source" name="source" class="form-control" rows="18">source HTML goes here</textarea>
            <button class="btn btn-primary btn-large btn-block" id="btnConvert" type="button">Convert to Bootstrap 3</button>
            <div class="row text-center"><i class="icon-arrow-down" style="font-size:50pt;"></i></div>
            <h3>Bootstrap 3.0 RC 1</h3>
            <textarea id="target" name="target" class="form-control" rows="18">converted HTML shows here</textarea>
            <button class="btn btn-primary btn-large btn-block" id="btnPreview" type="button">Preview</button>
          </form>
        </div>
    </div>
    
    <hr>
    
</div>