<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h1>Upgrade to Bootstrap 3</h1> 
        </div>
        <div class="col-lg-3">
          <div class="well"> 
          --
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
          <div class="well"> 
          </div>
        </div>
        <div class="col-lg-9">
          <form action="/" method="POST" class="form-horizontal">
            <h3>2.x</h3> 
            <textarea id="source" name="source" class="form-control" rows="15">source HTML goes here</textarea>
            <button class="btn btn-primary btn-large btn-block">Convert to 3</button>
            <h3>3.0 RC 1</h3>
            <textarea id="target" name="target" class="form-control" rows="15">converted HTML shows here</textarea>
          </form>
        </div>
    </div>
</div>