<script>
    $(document).ready(function() {
        $('#btnConvert').click(function(){
        
            $.getScript("/carbon.js"); // ads

            // regex opts
            var options = {
                "indent_with_tabs": true,
                "preserve_newlines": true
            }
        
            $('#target').val("");
            $.ajax({
                url: "/",
                type: "post",
                data: $('#formBootstrap').serializeObject(),
                success: function (data) {
                    if (typeof data.error!="undefined") {
                        alert(data.error);
                    } else {
                        var converted = style_html(data.result).replace(/-\s->/g,"-->",options);
                        
                        $('#target').val(converted);
                        $('html, body').animate({
                            scrollTop: $("#bs3").offset().top
                        }, 1000);
                    }
                },
                error: function (e) {
                    console.log('error:'+e);
                }
            });
        });
        
        $('#btnPreview').click(function(){
        
            var htm = $('#target').val();
            
            var newForm = $('<form>', {
                'action': 'http://www.bootply.com/new',
                'method': 'POST',
                'target': 'full'
                }).append($('<input>', {
                    'name': 'target',
                    'value': htm,
                    'type': 'hidden'
                }));
                
            newForm.hide();
            newForm.appendTo('body');
            window.open('','full','width=1240,height=650,status=0');
            newForm.submit();
            newForm.remove();
            
            return false;
        });
        
    });
    
    $.fn.serializeObject = function()
    {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
    };
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h1>Upgrade to Bootstrap 3 <small></small></h1>
            <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>This upgrade service is based on Bootstrap 3.0.0</div>
        </div>
        <div class="col-lg-5">
          <div id="carbonads-container"><div class="carbonad pull-right"><div id="azcarbon"></div></div></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
          <div class="well"> 
          
          <strong>Bootstrap 3 is a major overhaul, and there are a lot of changes from Bootstrap 2.x. This conversion service is intended to help you upgrade to Bootstrap 3.</strong>
          
          <hr>
          
          <p>This upgrade tool replaces the Bootstrap 2.x CSS class names with Bootstrap 3.0 class names. Additionally, this tool converts Navbar, Modal and other components in accordance with the <a href="http://getbootstrap.com" target="ext">Bootstrap 3.0 docs</a>.</p>
          
          <br>
          
          <p>
          See the complete <a href="http://bootply.com/bootstrap-3-migration-guide" target="ext">Migration Guide</a> for the latest changes.
          </p>
          
          <h3>Major CSS Changes</h3>
          <table class="table">
            <tbody><tr><td><a href="#">Bootstrap 2.x</a></td><td><a href="#">Bootstrap 3.0</a></td></tr>
            <tr><td>.container-fluid</td><td>.container</td></tr>
            <tr><td>.row-fluid</td><td>.row</td></tr>
            <tr><td>.span*</td><td>.col-md-*</td></tr>
            <tr><td>.offset*</td><td>.col-md-offset-*</td></tr>
            <tr><td>.brand</td><td>.navbar-brand</td></tr>
            <tr><td>.navbar .nav</td><td>.nav .navbar-nav</td></tr>
            <tr><td>.hero-unit</td><td>.jumbotron</td></tr>
            <tr><td>.icon-*</td><td>.glyphicon .glyphicon-*</td></tr>
            <tr><td>.btn</td><td>.btn .btn-default</td></tr>
            <tr><td>.btn-mini</td><td>.btn-xs</td></tr>
            <tr><td>.btn-small</td><td>.btn-sm</td></tr>
            <tr><td>.btn-large</td><td>.btn-lg</td></tr>
            <tr><td>.visible-phone</td><td>.visible-sm</td></tr>
            <tr><td>.visible-tablet</td><td>.visible-md</td></tr>
            <tr><td>.visible-desktop</td><td>.visible-lg</td></tr>
            <tr><td>.hidden-phone</td><td>.hidden-sm</td></tr>
            <tr><td>.hidden-tablet</td><td>.hidden-md</td></tr>
            <tr><td>.hidden-desktop</td><td>.hidden-lg</td></tr>
            <tr><td>.input-prepend</td><td>.input-group</td></tr>
            <tr><td>.input-append</td><td>.input-group</td></tr>
            <tr><td>.add-on</td><td>.input-group-addon</td></tr>
            <tr><td>.btn-navbar</td><td>.navbar-btn</td></tr>
            <tr><td>.thumbnail</td><td>.img-thumbnail</td></tr>
            </tbody></table>

          </div>
        </div>
        <div class="col-lg-8">
          <form action="/" method="POST" class="form-horizontal" id="formBootstrap">
            <h3 id="bs2">Bootstrap 2.x HTML</h3> 
            <textarea id="source" name="source" class="form-control" rows="18" data-toggle="tooltip" title="Paste Bootstrap 2.x HTML markup here.."><div class="container-fluid"></div></textarea>
            <button class="btn btn-primary btn-large btn-block" id="btnConvert" type="button" data-toggle="tooltip" title="Click here to perform the conversion!">Convert to Bootstrap 3</button>
            <div class="row text-center"><i class="icon-arrow-down" style="font-size:50pt;"></i></div>
            <h3 id="bs3"><label class="pull-right"><input type="checkbox" name="convertStructure" id="convertStructure" value="true"/><small>modify nav and modal structure</small></label> Bootstrap 3.0 HTML</h3>
            <textarea id="target" name="target" class="form-control" rows="18">The converted Bootstrap 3.0 HTML will display here..</textarea>
            <button class="btn btn-primary btn-large btn-block" id="btnPreview" type="button">Preview</button>
          </form>
          
          <hr>
          
          <p class="lead">Leverage more Bootstrap 3 <a href="http://www.bootply.com/templates" target="ext">Templates</a>, <a href="http://www.bootply.com/tagged/snippet" target="ext">Snippets</a> and <a href="http://www.bootply.com/tagged/bootstrap-3" target="ext">Examples</a> at<br>
          <a href="http://www.bootply.com" target="ext">Bootply, The Bootstrap Playground</a>.
          </p>
          
          <br>
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large" data-related="Bootply">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    
    <hr>
    
</div>