<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/32644/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script>

    <style>
    .navbar-brand {
        max-width: 400px;
    }
    </style>
</head>
<body>
    <div class="navbar">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" title="Upgrade to Bootstrap 3">Bootply <i class="icon-sort-by-attributes" style="font-size:16pt;"></i> Migration Tool</a>
           <p class="navbar-text pull-right">
           <a href="http://www.bootply.com" class="navbar-link" target="ext">Bootply.com</a>
        </p>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
          </ul>
        </div>
	  </div>
    </div>
    <%-body%>
    <footer id="footer">
        <div class="row-fluid">
            <div class="span4">
                <p> 
                    <a href="http://twitter.com/Bootply" title="Bootply on Twitter" target="ext">Twitter</a><br>
                    <a href="http://iatek.github.com" title="Bootply on GitHub" target="ext">GitHub</a><br>
                    <a data-toggle="modal" role="button" href="#contactModal">Contact Us</a><br>
                </p>
            </div>
            <div class="span4">
                <p> 
                    <a href="/tags">Tags</a><br>
                    <a href="/bootstrap-community">Community</a><br>
                    <a href="/users">Members</a><br>
                </p>
            </div>
            <div class="span4">
                <span class="pull-right">&copy;Copyright 2013 <a href="/intro" title="The Bootstrap Playground">Bootply</a> | All rights reserved.</span>
            </div>
        </div>
    </footer>
</body>
</html>