<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 3 Upgrade Service. Convert Bootstrap 2.x to 3.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A free Bootstrap 3 upgrade service that converts your existing Bootstrap 2.x code to Bootstrap 3.">
    <meta name="keywords" content="Bootstrap 3, 2.x, 3.0, twitter bootstrap, upgrade, convert, migrate, migration, conversion, tool">
    <meta name="google-site-verification" content="MIaHKEqspbaoI62kQsOLavc6RdqMZtpkmoYNrpqzhqs" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="/beautifier.js"></script>
    
    
    <style>
    .navbar-brand {
        max-width: 340px;
    }
    </style>
</head>
<body>
    <script>var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/32644/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script>
    <div class="navbar navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" title="Upgrade to Bootstrap 3">Bootply <i class="icon-sort-by-attributes" style="font-size:16pt;"></i> Migration Tool</a>
           <p class="navbar-text pull-right">
           <a href="http://www.bootply.com" class="navbar-link" target="ext">Bootply.com</a>
        </p>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a title="Learn more about the love behind this conversion tool." data-toggle="modal" href="#aboutModal" >About</a></li>
          </ul>
        </div>
	  </div>
    </div>
    <%-body%>
    <footer id="footer">
        <div class="row-fluid">
            <div class="col-12">
                <span class="pull-right">&copy;Copyright 2013 <a href="/intro" title="The Bootstrap Playground">Bootply</a> | All rights reserved.</span>
            </div>
        </div>
    </footer>
    <hr>
    <div class="modal fade" id="aboutModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Bootstrap Migration Service</h4>
            </div>
            <div class="modal-body">
              <p><strong>Thanks for checking out the Bootstrap 3 upgrade service from Bootply.</strong></p>
              <br>
              <p>
              After following and tracking the development progress on Bootstrap 3, we realized that the migration process would not be a simple matter of swapping the CSS and JS files. Bootstrap 2.x to 3.0 migration guidance is limited. We created this tool to assist with the Bootstrap 3.0 upgrade process. While this tool may not capture all of the changes, we hope it's a useful place to start with your migration efforts.
              </p>
              <br>
              <p>
              Please visit <a href="http://www.bootply.com" target="ext">Bootply.com</a> to send us your comments, feedback and suggestions for this service.
              </p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
          </div>
        </div>
    </div>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40413119-1', 'bootply.com');
          ga('send', 'pageview');
    </script>
</body>
</html>